/* @settings

name: "Graph Line Color"
id: graph line color
settings:
	-
	    id: line-settings
        level: 1
        collapsed: false
        type: heading
        title: General settings
        description: IMPORTANT- must refresh the snippet when changes are made.
    - 
        id: line-color
        title: Line Color
        type: variable-themed-color
        default-light: "#d5c4a1"
        default-dark: "#504945"
		format: hex
*/


.theme-dark{
	--line-color: #504945;
}
	
.theme-light{
	--line-color: #d5c4a1;
}
	
.graph-view.color-line {
	color: var(--line-color) !important;
}